<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>Atendimento Klaus.</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="icon" href="https://lh3.googleusercontent.com/A7pSuZjfHeXMTAf9RJRfn5J6K3XcZFWToCF-Q8hHHV-fZ4UCjw_y_3aOkCGhum4KV_OIsJZIIhLmyxC2VeZkpR_TWcrFphT21oXE48zcNMY9t9pWhHcMmaCLPqscp98YPlXThrLzvPvoNUZR4iTDn7wg_fwEyj6QnG3HaJHfpPGuLZbbt8qd0eyoSIyEUDAURjGKKCJaZUmBEGHECYDV0QrxcS1Tac10A_yTpuTtzQx6QnMX6Nbc-1LobXnZI4RBTLS8g4jJrDeiZA5ePdGbPK0_xZbVsotvTLYtOz1-rnhGb_spCMD9xDktemK1uOgv5bZ5uaPBEE9XSiCnwa2WdgHmj5G7YKMHBiPKJwLPsjKwEsz-oNODYsKY5tHaug6KtVIr-kyk-ApiDkpN9CJcR2Dccw4pmkiPFNiKRGXuEbmNHMgiiMI2Ao5vtOOxqE5AKjUms5-ooXqCpbSXyikyJRFva8fEu3Sj41eMQJfeP2rSPN5SLISb1_obJwqvPne2PbkjncW5-F4E2bATvz3TFpEGfIjjpQTRUxUaj9L2e6NX4dDR08eEQscgPaVaeW4PgPqYMUliVXVtF_TGu99eJhuwz6pPvHSpn-TO-osUF6awzTRuuZRZi-mu7gbVYnmqqvVwY3alz9dEgKAJZzUnvFUeelD9yELNYkcpJUvev_y0O8iEKRLQt-xOVPqQtOmqedOieKKTMbGqazX7S3y7f4bP=w259-h503-no?authuser=0">

</head>
<body>
	 <table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
   <td>
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
 <tr>
  <td>
   <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
 <tr>
  <td  align="center" style="padding: 0px 0 10px 0;">
   <img src="https://lh3.googleusercontent.com/4744eJnm1YB_cVP84YTCMkQF7oxKNHgN5cf9jt5EC2YW2oeERjcQfMVWS4TcS1z1brKaclGWWxTWGSG-QScx0Ou96vvL5WVOh4bp02PV15ojM7uIPWjVkTe3xmDCgFp8G0BKq63VqpFuVGN-AD6A9kvS_NokfafaQDaPGAhfQohl_CrPKzZYS8v4yx7SegOBImEVP8IM0Nb6LH31aedO8orFEB130UfU1JAQurlyikSYbEVO3ZZXahGut-q7UUyfmecMWeYSv8-pbbHCPquQZg0F7K1WFCChm61rM5s1ekSu5DOqQxL_BXWTNa0VA6oSu-l3FZnVS75oIxrSx0rZ-csk2Yw1nL8AkCx9xqB7ZTWkX0eLyZ37x9U6A39wYirE8-e50GD2zFSkTJ97SXwSXLxs7go7zHw90J-zdvNaalso4rct_D13C1MC21uw67ibVPigpqlqakY4hFmqbOmUIEECbWL-3_FYDMucoIo01mmOIh_q85QN-Vw2m2LAwKhNKKgVe9I9BWMivqoeEJOGO-2_AskBMrKKNRDS9mwgx3sLyvNXI8sB3n7we_FMyTy7H2swJizfwZpVuRR0pxPLT7BQ5XLfsgLaDOmzFGnLfxo9HyEC5nkTmeN-TWZz5G5OpTwwUgLxmbzH4l33NyCiXmBvFA49QMNTmKZqThSl1fjzHOYW53gkApiiDnYsOc2SJBKyD8__aRUk5gg2a57HN62_=w600-h200-no?authuser=0">
  </td>
 </tr>
 <tr>
  <td bgcolor="#ffffff" style="padding: 20px 30px 40px 30px;">
   <table border="0" cellpadding="0" cellspacing="0" width="100%">
     <tr>
      <td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;">
       <b>Lorem ipsum dolor sit amet!</b>
      </td>
     </tr>
     <tr>
      <td style="padding: 20px 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempus adipiscing felis, sit amet blandit
      </td>
     </tr>
     <tr>
      <td>
       <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
         <td width="260" valign="top">
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
          	<tr>
          		<td>
          			<img src="https://azultecnologia.com/wp-content/uploads/2019/09/298760-sac-40-confira-a-evolucao-do-atendimento-ao-cliente-e-sua-importancia.jpg" alt="" width="100%" height="200" style="display: block;">
          		</td>
          	</tr>
          	<tr>
          	     <td style="padding: 25px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
          	      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempus adipiscing felis, sit amet blandit ipsum volutpat sed. Morbi porttitor, eget accumsan dictum, nisi libero ultricies ipsum, in posuere mauris neque at erat.
          	     </td>
          	    </tr>
          </table>
         </td>
         <td style="font-size: 0; line-height: 0;" width="20">
          &nbsp;
         </td>
         <td width="260" valign="top">
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
          	<tr>
          		<td>
          			<img src="https://www.tiberius.com.br/src/public/img/investing_undraw.svg" alt="" width="100%" height="200" style="display: block;">
          		</td>
          	</tr>
          	<tr>
          	     <td style="padding: 25px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
          	      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempus adipiscing felis, sit amet blandit ipsum volutpat sed. Morbi porttitor, eget accumsan dictum, nisi libero ultricies ipsum, in posuere mauris neque at erat.
          	     </td>
          	    </tr>
          </table>
         </td>
        </tr>
       </table>
      </td>
     </tr>
    </table>
  </td>
 </tr>
 <tr>
  <td bgcolor="black" style="color: white; padding: 30px 30px 30px 30px;"> 
   <table border="0" cellpadding="0" cellspacing="0" width="100%">
 <tr>
  <td style="color: white; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px; text-align: left;">
   &copy; KLAUS. 2021<br>
   Desenvolvido por Tiberius Tecnologia.
  </td>
  <td>
   <td align="right">
 <table border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td>
   	<a href="https://api.whatsapp.com/send/?phone=5511976405348&text=Ol%C3%A1+somos+da+Equipe+Klaus%2C+em+que+podemos+ajudar%3F&app_absent=0">
   	 <img src="https://i.pinimg.com/originals/67/8b/20/678b20b7e76e3c81baa4f8c6ee1bc656.png" alt="whatsapp" width="38" height="38" style="display: block;" border="0" />
   	</a>
   </td>
   <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
   <td>
   	<a href="https://www.tiberius.com.br/">
   	 <img src="https://www.ifmg.edu.br/ceadop3/imagens/icones/dicas-para-seu-site-ter-mais-acessos-veja.png/@@images/image.png" alt="whatsapp" width="38" height="38" style="display: block;" border="0" />		
   </td>
  </tr>
 </table>
</td>
  </td>
 </tr>
</table>
  </td>
 </tr>
</table>
  </td>
 </tr>
</table>
   </td>
  </tr>
 </table>

</body>
</html>